.grid {
  height: 100vh;
  padding: 0.5em;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 60px;
  grid-template-areas: "users conversation" "input input";
}

.users {
  grid-area: users;
  overflow-y: auto;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 0.4em;
}

.conversation {
  grid-area: conversation;
  padding: 0.4em;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.inputArea {
  grid-area: input;
  display: flex;
  justify-content: space-between;
  margin: 0.4em 0;
}
