.grid {
  height: 100%;
  display: grid;
  grid-template-columns: [rooms-end] 200px [rooms-end conversation-start] auto [conversation-end members-start] 200px [members-end];
  grid-template-rows: [chat] auto [input] 100px;
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 50vh;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
